/*style*/
/*general*/
html,
body,
p,
h1,
h2,
h3,
h4,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  margin: 0 auto 20px;
  width: 1200px;
}

.container:last-of-type {
  margin-bottom: 0;
}

/*end of general*/
/*fonts*/
@font-face {
  font-family: Scada-Bold;
  src: url(../fonts/Scada-Bold.ttf);
  font-weight: normal;
}

/*/fonts*/
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/*practice*/
.practice {
  padding: 30px 0 40px;
  color: #353535;
  text-align: center;
  background: #e7e2e2;
}

.practice__title {
  margin: 0 0 25px;
  font-family: Scada-Bold, sans-serif;
  font-size: 30px;
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: center;
}

.practice__features {
  margin: 0 0 20px;
  font-size: 0;
}

.practice__features li {
  width: 260px;
  display: inline-block;
  vertical-align: top;
  padding: 140px 20px 0;
  position: relative;
}

.practice__features li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
}

.practice__features li:first-child::before {
  margin-left: -65px;
  background-image: url(../img/sprite.png);
  background-position: -130px 0px;
  width: 130px;
  height: 130px;
}

.practice__features li:nth-child(2)::before {
  margin-left: -65px;
  background-image: url(../img/sprite.png);
  background-position: 0px -130px;
  width: 130px;
  height: 130px;
}

.practice__features li:last-child::before {
  margin-left: -65px;
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 130px;
  height: 130px;
}

.practice__features p {
  font-family: Scada-Bold, sans-serif;
  font-size: 24px;
  line-height: 1.2em;
}

.practice h3 {
  font-family: Scada-Bold, sans-serif;
  font-size: 24px;
  line-height: 1.2em;
  color: #e74c3c;
  text-transform: uppercase;
}

.practice__offer {
  margin: 0 auto;
  padding: 10px 10px 10px 160px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 735px;
  height: 150px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  border: 2px solid #e74c3c;
  position: relative;
}

.practice__offer::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -65px;
  background-image: url(../img/sprite.png);
  background-position: -130px -130px;
  width: 130px;
  height: 130px;
}

/*/practice*/
/*open-lesson*/
.open-lesson {
  text-align: center;
}

.open-lesson__header {
  padding: 50px 20px 0;
  min-height: 324px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../img/open-lesson-bg.jpg") no-repeat center 0;
}

.open-lesson__header h2 {
  margin: 0 0 5px;
  font-family: Scada-Bold, sans-serif;
  font-size: 48px;
  line-height: 72px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.open-lesson__header h2 span {
  color: #ffce12;
}

.open-lesson__header p {
  font-family: Scada-Bold, sans-serif;
  font-size: 24px;
  line-height: 1.2em;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.open-lesson__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 190px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background: #969799 url("../img/bridge.png") no-repeat center center;
}

.open-lesson__footer p {
  width: 495px;
  font-family: Scada-Bold, sans-serif;
  font-size: 30px;
  line-height: 1.2em;
  color: #fff;
}

.open-lesson__footer p span {
  font-size: 36px;
}

.open-lesson__footer p:first-child {
  text-align: right;
}

.open-lesson__footer p:last-child {
  text-align: left;
}

/*/open-lesson*/
/*lessons*/
.lessons {
  padding: 50px 35px 30px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background: #969799;
  font-family: Scada-Bold, sans-serif;
  font-size: 24px;
  line-height: 1.2em;
  color: #fff;
  text-align: center;
}

.lessons__list {
  margin: 0 0 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.lessons__list li {
  width: 25%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid #fff;
}

.lessons__list li:last-child {
  border-right: none;
}

/*/lessons*/
/*lessons-item*/
.lessons-item {
  padding: 110px 30px 100px;
  font-family: Scada-Bold, sans-serif;
  color: #fff;
  text-align: center;
  position: relative;
}

.lessons-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -75px;
}

.lessons-item:first-child::before {
  background-image: url(../img/sprite.png);
  background-position: -150px -260px;
  width: 150px;
  height: 100px;
}

.lessons-item:nth-child(2)::before {
  background-image: url(../img/sprite.png);
  background-position: -260px 0px;
  width: 150px;
  height: 100px;
}

.lessons-item:nth-child(3)::before {
  background-image: url(../img/sprite.png);
  background-position: -260px -100px;
  width: 150px;
  height: 100px;
}

.lessons-item:last-child::before {
  background-image: url(../img/sprite.png);
  background-position: 0px -260px;
  width: 150px;
  height: 100px;
}

.lessons-item__title {
  margin: 0 0 35px;
  font-size: 24px;
  line-height: 1.2em;
  text-transform: uppercase;
}

.lessons-item__date {
  font-size: 24px;
  line-height: 1.2em;
  color: #ffce12;
}

.lessons-item__date span {
  display: block;
  font-size: 30px;
  text-transform: uppercase;
}

.lessons-item__level {
  margin: 0 0 25px;
  font-size: 24px;
  line-height: 1.2em;
}

.lessons-item__level span {
  display: block;
}

.lessons-item__result h4 {
  font-size: 24px;
  line-height: 1.2em;
  color: #ffce12;
  text-transform: uppercase;
}

.lessons-item__result p {
  font-size: 18px;
  line-height: 1.2em;
}

.lessons-item__link {
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 75px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #fff;
  background: #ffce12;
  font-size: 24px;
  line-height: 1.2em;
  color: #353535;
  text-transform: uppercase;
  text-decoration: none;
}

.lessons-item__link:hover {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}

/*/lessons-item*/
/*end of style*/
