/*general*/
html,
body,
p,
h1,
h2,
h3,
h4,
ul{
	list-style: none;
	margin: 0;
	padding: 0;

	font-weight: 400;
}

.clearfix::after{
	content: '';
	display: table;
	clear: both;
}

.container {
	margin: 0 auto;
	width: 1200px;

	&:last-of-type {
		margin-bottom: 0;
	}
}
/*end of general*/