/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$flag-de-name: 'flag-de';
$flag-de-x: 260px;
$flag-de-y: 0px;
$flag-de-offset-x: -260px;
$flag-de-offset-y: 0px;
$flag-de-width: 150px;
$flag-de-height: 100px;
$flag-de-total-width: 410px;
$flag-de-total-height: 360px;
$flag-de-image: 'sprite.png';
$flag-de: (260px, 0px, -260px, 0px, 150px, 100px, 410px, 360px, 'sprite.png', 'flag-de', );
$flag-fr-name: 'flag-fr';
$flag-fr-x: 260px;
$flag-fr-y: 100px;
$flag-fr-offset-x: -260px;
$flag-fr-offset-y: -100px;
$flag-fr-width: 150px;
$flag-fr-height: 100px;
$flag-fr-total-width: 410px;
$flag-fr-total-height: 360px;
$flag-fr-image: 'sprite.png';
$flag-fr: (260px, 100px, -260px, -100px, 150px, 100px, 410px, 360px, 'sprite.png', 'flag-fr', );
$flag-it-name: 'flag-it';
$flag-it-x: 0px;
$flag-it-y: 260px;
$flag-it-offset-x: 0px;
$flag-it-offset-y: -260px;
$flag-it-width: 150px;
$flag-it-height: 100px;
$flag-it-total-width: 410px;
$flag-it-total-height: 360px;
$flag-it-image: 'sprite.png';
$flag-it: (0px, 260px, 0px, -260px, 150px, 100px, 410px, 360px, 'sprite.png', 'flag-it', );
$flag-uk-name: 'flag-uk';
$flag-uk-x: 150px;
$flag-uk-y: 260px;
$flag-uk-offset-x: -150px;
$flag-uk-offset-y: -260px;
$flag-uk-width: 150px;
$flag-uk-height: 100px;
$flag-uk-total-width: 410px;
$flag-uk-total-height: 360px;
$flag-uk-image: 'sprite.png';
$flag-uk: (150px, 260px, -150px, -260px, 150px, 100px, 410px, 360px, 'sprite.png', 'flag-uk', );
$increase-name: 'increase';
$increase-x: 0px;
$increase-y: 0px;
$increase-offset-x: 0px;
$increase-offset-y: 0px;
$increase-width: 130px;
$increase-height: 130px;
$increase-total-width: 410px;
$increase-total-height: 360px;
$increase-image: 'sprite.png';
$increase: (0px, 0px, 0px, 0px, 130px, 130px, 410px, 360px, 'sprite.png', 'increase', );
$pad-name: 'pad';
$pad-x: 130px;
$pad-y: 0px;
$pad-offset-x: -130px;
$pad-offset-y: 0px;
$pad-width: 130px;
$pad-height: 130px;
$pad-total-width: 410px;
$pad-total-height: 360px;
$pad-image: 'sprite.png';
$pad: (130px, 0px, -130px, 0px, 130px, 130px, 410px, 360px, 'sprite.png', 'pad', );
$speech-name: 'speech';
$speech-x: 0px;
$speech-y: 130px;
$speech-offset-x: 0px;
$speech-offset-y: -130px;
$speech-width: 130px;
$speech-height: 130px;
$speech-total-width: 410px;
$speech-total-height: 360px;
$speech-image: 'sprite.png';
$speech: (0px, 130px, 0px, -130px, 130px, 130px, 410px, 360px, 'sprite.png', 'speech', );
$watch-name: 'watch';
$watch-x: 130px;
$watch-y: 130px;
$watch-offset-x: -130px;
$watch-offset-y: -130px;
$watch-width: 130px;
$watch-height: 130px;
$watch-total-width: 410px;
$watch-total-height: 360px;
$watch-image: 'sprite.png';
$watch: (130px, 130px, -130px, -130px, 130px, 130px, 410px, 360px, 'sprite.png', 'watch', );
$spritesheet-width: 410px;
$spritesheet-height: 360px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($flag-de, $flag-fr, $flag-it, $flag-uk, $increase, $pad, $speech, $watch, );
$spritesheet: (410px, 360px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
